
                    <div class="portfile__foto__block">
                        <div class="portfile__foto__pr">
                            <div class="portfile__foto"></div>
                            <div>Основы</div>
                            <div class="portfile__text">
                                <div class="portfile__text__color">20%</div>
                            </div>
                        </div>
                        <div class="portfile__foto__pr">
                            <div class="portfile__foto portfile__foto_one"></div>
                            <div>Общие фразы</div>
                            <div class="portfile__text">
                                <div class="portfile__text__color" style="width: 90%">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="portfile__foto__block">
                        <div class="portfile__foto__pr">
                            <div class="portfile__foto portfile__foto_two"></div>
                            <div>Еда</div>
                            <div class="portfile__text">
                                <div class="portfile__text__color portfile__color_two">90%</div>
                            </div>
                        </div>
                        <div class="portfile__foto__pr">
                            <div class="portfile__foto portfile__foto_three"></div>
                            <div>Животные</div>
                            <div class="portfile__text">
                                <div class="portfile__text__color portfile__color_three">50%</div>
                            </div>
                        </div>
                    </div>
                    <div class="portfile__foto__block">
                        <div class="portfile__foto__pr">
                            <div class="portfile__foto portfile__foto_four"></div>
                            <div>Множ.число</div>
                            <div class="portfile__text">
                                <div class="portfile__text__color portfile__color_four">30%</div>
                            </div>
                        </div>
                    </div>
1)категориянын позициясы 2)катигориянын аты 3)ар бир разделге озунчо баа жана жалпы баа

